.diets-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.diets-selector input {
    width: 2.4vh;
    height: 2.4vh;
}

@media only screen and (max-width: 800px) {

    .diets-selector {
        font-size: 3.3vh;
    }

    .diets-selector input {
        width: 3vh;
        height: 3vh;
        margin-bottom: 1vh;
    }
}

@media only screen and (max-width: 450px) {

    .diets-selector {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}